html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#header{
    position:absolute;
    top:0; 
    left:0;
    z-index:10;
    width: 100%;
    height: 100px;
    background: url('img/bg-header.png');
    font-family: "Helvetica", "Arial";
}

#contentbox {
    margin-top:100px; 
    width: inherit;
    /*height: 600px;*/
}

#deviceInfoTable {
    background: seashell;
    margin-left:auto; 
    margin-right:auto; 
    width: auto;
    border-spacing: 10px;
}

#infotable thead{
	color: teal;
	font-size: larger;
}

#deviceInfoTable thead{
	color: teal;
	font-size: larger;
}

#deviceInfoTable tbody{
}

#infotable {
    margin-left:auto; 
    margin-right:auto; 
    width: auto;
    /*background: none repeat scroll 0 0 powderblue;*/
}

#info {
    margin-top:100px; 
    width: 100%;
}

#hor-zebra
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 10px;
    width: -moz-available;
    text-align: left;
    border-collapse: collapse;
}
#hor-zebra th
{
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    color: #039;
}
#hor-zebra td
{
    padding: 8px;
    color: #669;
}
#hor-zebra .odd
{
    background: #e8edff; 
}

#hor-zebra .selected
{
	background: #f8edff;
}

#sysname {
    font-size: 14px;
    font-weight: normal;
}

#amount {
    font-size: 14px;
    font-weight: normal;
}

#running  {
    font-size: 14px;
    font-weight: normal;
}

#systemRightData {
    font-size: 14px;
    font-weight: normal;
    float: right;
    color: snow;
    width: 33%;
}

#systemLeftData {
    font-size: 14px;
    font-weight: normal;
    float: left;
    color: snow;
    width: 33%;
}

#icons {
    font-size: 14px;
    font-weight: normal;
    float: left;
    width: 33%;
}


ul {
    width:480px;
    padding:0px;
    margin:auto;
    list-style-type:none;
    height: 100px;
}


a {
    float:left;
    width:120px;
    height: 95px;
    text-decoration:none;
    color:white;
    text-align: center;
    vertical-align: center;
}

a:hover {
    background-color:#EDEDED;
}

a img {
    margin: 20px 0 0 0;
}

li {
    display:inline;
}


#frame {
	text-align: center
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

#page {
	padding: 0px 10px 10px 10px;
}

#table1 {
	/*float: left;
	width: 60%;
	margin-left: 1%;
	padding: 1%;*/
	font-size: smaller;
    display: block;
	clear:both;

}

#table2 {
	/*float: left;
	width: 40%;
	margin-left: 1%;
	padding: 1%;*/
	background: none repeat scroll 0 0 snow;
	font-size: smaller;
	margin: 10px;
    display: block;
	clear:both;
    /*display: none;*/
}

#interaction {
	border-style: dotted;
	padding: 5px;
}

#interNote, #interAlarm {
	width: 50%;
	float: left;

}

#map {
	padding: 10px;
	clear:both;
	display: block;
}

#Map {
	height: 500px;
	width: 1000px;
	padding: 10px;
	clear:both;
	display: block;
	margin: 0 auto!important;
}

#notes, #alarms {
	clear:both;
	display: block:
	background: none repeat scroll 0 0 snow;
}

#NotesDiv, #AlarmsDiv {
	font-size: larger;
	font-family: Verdana;
	font-weight: bold;
}


.nota, .alarm {
	padding: 2px;
	margin-left: 10px;
}

