html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#header{
    position:absolute;
    top:0; 
    left:0;
    z-index:10;
    width: 100%;
    height: 100px;
    background: url('img/bg-header.png');
    font-family: "Helvetica", "Arial";
}

#contentbox {
    margin-top:100px; 
    width: inherit;
    /*height: 600px;*/
}

#deviceInfoTable {
    background: seashell;
    margin-left:auto; 
    margin-right:auto; 
    width: inherit;
}

#infotable thead{
	color: teal;
}

#deviceInfoTable thead{
	color: teal;
}

#deviceInfoTable tbody{
}

#infotable {
    margin-left:auto; 
    margin-right:auto; 
    width: auto;
}

#info {
    margin-top:100px; 
    width: 100%;
}

#hor-zebra
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 10px;
    width: -moz-available;
    text-align: left;
    border-collapse: collapse;
}
#hor-zebra th
{
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    color: #039;
}
#hor-zebra td
{
    padding: 8px;
    color: #669;
}
#hor-zebra .odd
{
    background: #e8edff; 
}

#hor-zebra .selected
{
	background: #f8edff;
}


ul {
/*    float:left;*/
/*    width:100%;*/
    width:360px;
    padding:0px;
    margin:auto;
    list-style-type:none;
    height: 100px;
}

a {
    float:left;
    width:120px;
    height: 95px;
    text-decoration:none;
    color:white;
/*    padding:0.2em 0.6em;*/
/*    border-right:1px solid white; */
    text-align: center;
    vertical-align: center;
}

a:hover {
    background-color:#EDEDED;
}

a img {
    margin: 20px 0 0 0;
}

li {
    display:inline;
}


#frame {
	text-align: center
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

#page {
	padding: 0px 10px 10px 10px;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

